[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themess"]
	path = themess
	url = https://github.com/adityatelange/hugo-PaperMod
